*{
    margin: 0;
    padding: 0;
}

body{
    font-family: helvetica, sans-serif;
    color: #445964;
    background-color: #FBFBFB;
    padding: 100px 250px 100px 250px;
}

nav{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;

}

nav > div{
    display: flex;
    align-items: center;
}

nav > div >p{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    padding-left: 20px;
  }

.nav-list{
    /* border: solid green; */
    display: flex;
    list-style: none;
    gap: 40px;

}

.nav-list > li > a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #445964;
}

.nav-list > li > a:hover{
    color:#90a4af;
}

main{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
}
.gretting , .description {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.content-lef {
    display: flex;
    flex-direction: column;
    /* border: solid yellow; */
}

.content-lef > div {
    /* border: solid red; */
    flex: 1;
}

.btn-sobre-mi{
    display: flex;
    align-items:end;
}

.btn-sobre-mi > button{
    background-color: #263138;
    border-radius: 20px;
    color: white;
    width: 310px;
    height: 55px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}

.social-links{
    display: flex;
    gap: 30px;
    align-items:end;
}

/* Estilos de la section SOBRE MI */


.about-me > div  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    /* border:  solid red; */
   }

.title-2{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    padding: 15px 0px 15px 0px;
}

span{
    color:#263138;
}

.presentacion {
    padding-bottom: 100px;
}
.presentacion > p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.habilidades > div > p {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    text-align: center;
}

.habilidades {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 50px;
}

/* Section del portafolio */
/* Section del portafolio */
/* Section del portafolio */
.porfolio > div{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        padding-top: 150px;
}

.porfolio > div{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.content-2 > div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
    /* border: solid yellow; */
}

h2{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
}

.content-2 > div > div > p{
    /* border: solid yellow; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.btn-menu{
display: flex;
justify-content:flex-start;
gap: 10px;
padding: 100px 0px 100px 0px;

}

.btn-menu  buttom {
    color: #445964;
    background-color: #DFDFDF;
    border-radius: 15px;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;

}
.btn-menu buttom:hover{
    color: #fff;
    background-color: #263138;
}

.proyectos > div{
    display:grid;
    grid-template-areas:     
    "proyect1 proyect2 proyect3"
    "proyect4 proyect5 proyect6"    
    ;
    justify-content: center;
    gap: 20px;
    
}   

.grid1{
    width: 340px;
    height: 190px;
    background-color:#263138;
    border-radius: 20px;
    grid-area: proyect1;
    margin-bottom: 30px;   
}

.grid2{
    width: 340px;
    height: 250px;
    background-color: #445964;
    border-radius: 20px;
    grid-area: proyect2;
    margin-bottom: 30px; 
}

.grid3{
    width: 340px;
    height: 190px;
    background-color: #DFDFDF;
    border-radius: 20px;
    grid-area: proyect3;
    margin-bottom: 30px;    
}

.grid4{
    width: 340px;
    height: 250px;
    background-color: #DFDFDF;
    border-radius: 20px;
    grid-area: proyect4;
}

.grid5{
    width: 340px;
    height: 190px;
    background-color: #263138;
    border-radius: 20px;
    grid-area: proyect5;
    
}

.grid6{
    width: 340px;
    height: 250px;
    background-color: #445964;
    border-radius: 20px;
    grid-area: proyect6;
}

/* Section de tecnologias*/

.tecnologias > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.tecnologias p{
    padding-top: 100px;
}

.tec-1 > div{
display: flex;
gap: 80px;
padding-top: 20px;
/* border: solid green; */
}

h3{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
}

/* section experiencia */
/* section experiencia */
/* section experiencia */

.caja1 > div{
    display:flex;
    /* justify-content:flex-end; */
    flex-direction:row-reverse;
    align-items:end;
    /* border: solid rebeccapurple; */
    padding-top: 150px;
    gap: 80px;
}

.caja1 p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 2.5px;
    text-align: end;
    
}

.caja2 > div{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
}

.cargo1{
    width: 400px;
    background-color: #263138;
    color: #FBFBFB;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
}

.cargo2{
    width: 400px;
    background-color: #445964;
    color: #FBFBFB;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
}

.caja3 > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: solid blue; */
    padding-top: 100px;

}

.caja3 p{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding-bottom: 2.5px;
}
.caja3 h3{
    padding-top: 5px;
}